<div class="animated fadeIn fast" style="margin-top: 80px">


    <div class="container">

        <h1 class="Titulo1"> Reservas</h1>
        <br>
        <div class="row " *ngFor="let pedido of pedidos">
            <div class="col-md-2">
                <img [src]="pedido.imgLibro">
            </div>

            <div class="col-md-2">
                <p><small class="text-primary ">Producto</small></p>
                <p class="text-secondary "> {{pedido.nombreLibro}} </p>
            </div>

            <div class="col-md-2">
                <p> <small class="text-primary ">Fecha de reserva</small></p>
                <small class="text-secondary "> {{pedido.fechaReserva | date}} </small>
            </div>

            <div class="col-md-2">
                <p> <small class="text-primary">Fecha de devolucion</small></p>
                <small class="text-secondary"> {{getFechaDevolucion(pedido) | date}}</small>
            </div>

            <div class="col-md-2">
                <p> <small class="text-primary">Cantidad</small></p>
                <small class="text-secondary"> 1 </small>
            </div>
            <div class="col-md-2">
                <button (click)="borrarPedido(pedido.key$)" style="font-size: 12px;margin-top: 41px" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6">
                <button type="button " class="btn btn-outline-primary btn-block" (click)="volver()"> Volver atrás</button>
            </div>
            <div class="col-md-6">
                <button type="button " class="btn btn-outline-primary btn-block" (click)="confirmarReserva()"> Confirmar reserva</button>
            </div>
        </div>
    </div>

</div>