<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <img src="assets/img/logo.png" alt="" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['catalogo']">Libros</a>
            </li>


            <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Administrador</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['administradorLibro']">Administracion de libros</a>
                    <a class="dropdown-item" [routerLink]="['usuarioAdm']">Usuarios</a>
                    <a class="dropdown-item" [routerLink]="['reservasPendientes']">Reservas pendientes</a>
                    <a class="dropdown-item" [routerLink]="['pedidosActivos']">Pedidos activos</a>
                </div>
            </li>
        </ul>
        <span>{{authService.usuarioLogueado?.mail}}</span>
        <a style="color:#007bff;padding-left: 0px;font-size: 25px" class="nav-link" [routerLink]="['pedidos']"> <i
                class="fas fa-book-reader"></i> 0</a>


        <button style="margin-right: 5px" class="btn btn-outline-primary btn-sm" [routerLink]="['registrarse']"
            *ngIf="!authService.isAuthenticated()"> Registrarse</button>
        <button class="btn btn-outline-primary btn-sm" [routerLink]="['login']" *ngIf="!authService.isAuthenticated()">
            Iniciar
            sesión</button>
        <button class="btn btn-outline-primary btn-sm" *ngIf="authService.isAuthenticated()"
            (click)="authService.logout()">Salir</button>
    </div>
</nav>