<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="assets/img/logo.png" alt="" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['catalogo']">Libros</a>
            </li>


            <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Administrador</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['administradorLibro']">Administracion de libros</a>
                    <a class="dropdown-item" [routerLink]="['usuarioAdm']">Usuarios</a>
                    <a class="dropdown-item" [routerLink]="['reservas']">Reservas confirmadas</a>
                    <a class="dropdown-item" [routerLink]="['pedidosActivos']">Pedidos activos</a>
                </div>
            </li>
        </ul>
        <span style="margin-right: 20px;margin-top: 7px; color:white">{{authService.usuarioLogueado?.nombre}}</span>
        <a style="color:white;padding-left: 0px;font-size: 20px" class="nav-link" [routerLink]="['pedido','']"> <i class="fas fa-shopping-cart"></i> {{pedidoService.totalPedidosUsuario}}</a>


        <button style="margin-right: 5px" class="btn btn-outline-light btn-sm" [routerLink]="['registrarse']" *ngIf="!authService.isAuthenticated()"> Registrarse</button>
        <button class="btn btn-outline-light btn-sm" [routerLink]="['login']" *ngIf="!authService.isAuthenticated()">
            Iniciar
            sesión</button>
        <button class="btn btn-outline-light btn-sm" *ngIf="authService.isAuthenticated()" (click)="logout()">Salir</button>
    </div>
</nav>