<div style=" margin-top: 100px">

    <div class="container">
        <h1 class="Titulo1"> Administracion de libros </h1>


        <div class="row">
            <div class="col-lg-5">
                <input class="inputBuscar" type="search" placeholder="Buscar libro" aria-label="Search" #buscarTexto>
            </div>
            <div class="col-lg-2">
                <button style="margin-bottom: 7px;margin-left:100px;" (click)="buscarLibro(buscarTexto.value)" type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-lg-2">
                <button style="margin-bottom: 7px;margin-left: 70px;" (click)="verTodos()" class="btn btn-outline-primary">Todos</button>
            </div>
            <div class="col-lg-2">
                <button style="margin-bottom: 7px;margin-left: 12px;" class="btn btn-outline-primary" (click)="buscarSinStock()">Sin stock</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus-square"  [routerLink]="['/agregarLibro']" ></i></button>
            </div>
        </div>


        <table class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Stock</th>
                    <th style="text-align: center" scope="col">Stock Disponible</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td> {{libro.nombre}} </td>
                    <td> {{libro.autor}} </td>
                    <td style="text-align: center"> {{libro.stock}} </td>

                    <td style="text-align: center" [ngStyle]="{color: getColor(libro)}"> {{libro.stockDisponible}} </td>
                    <td>
                        <div class="row">
                            <div class="col-lg-6">
                                <button (click)="borrarLibroAdm(libro.key$)" class="btn btn-outline-danger" style="padding: 5px"><i class="far fa-trash-alt"></i></button>
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" [routerLink]="['/editarLibro',libro.key$]" class="btn btn-outline-success" style="padding: 5px"><i class="far fa-edit"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>