/* Compartido */

.container {
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    width: 800px;
}

.Titulo1 {
    padding: 20px;
    background-color: #007bff !important;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}


/* Modificar libros */

.inputBuscar {
    position: relative;
    margin: 0;
    width: 80%;
    font-size: 20px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    padding: 4px;
    border: 1px solid rgb(182, 179, 179);
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #727070;
    margin-bottom: 35px;
}

tr {
    color: #878686;
}

td {
    color: #878686;
}