<!-- formulario agregar -->
<div style=" margin-top: 100px">
    <form class="container">
        <h1 class="Titulo1"> Agregar libro </h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Nombre</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="libro.nombre">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Autor</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="autor" [(ngModel)]="libro.autor">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Idioma</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="idioma" [(ngModel)]="libro.idioma">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Imagen</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="img" [(ngModel)]="libro.img">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Paginas</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="paginas" [(ngModel)]="libro.paginas">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Edicion</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="edicion" [(ngModel)]="libro.edicion">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Reseña</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="resena" [(ngModel)]="libro.resena">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Stock</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="stock" [(ngModel)]="libro.stock">
                    </div>
                </div>
            </div>
        </div>

        <div class="botones">
            <div class="row">
                <div class="col-lg-6">
                    <button (click)="guardarCambios()" class="btn btn-outline-primary btn-block">Guardar</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="volver()">Volver atrás</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Fin de formulario agregar -->